#ignore everything

/*

/*/

#####Selection analysis#######
!selection_analysis
selection_analysis/*
!selection_analysis/lrt.r
!selection_analysis/lrt.r
!selection_analysis/fulldata
selection_analysis/fulldata/*
!selection_analysis/fulldata/concatenated
selection_analysis/fulldata/concatenated/*
!selection_analysis/fulldata/concatenated/codeml*
!selection_analysis/fulldata/concatenated/*paml.txt
!selection_analysis/fulldata/concatenated/*paml
!selection_analysis/fulldata/concatenated/output
!selection_analysis/fulldata/partitioned
selection_analysis/fulldata/partitioned/*
!selection_analysis/fulldata/partitioned/codeml*
!selection_analysis/fulldata/partitioned/full.paml
!selection_analysis/fulldata/partitioned/tree_paml.txt
!selection_analysis/fulldata/partitioned/partition.txt
!selection_analysis/fulldata/partitioned/gene_order
!selection_analysis/fulldata/partitioned/marked_tree_paml.txt
!selection_analysis/fulldata/partitioned/output

!selection_analysis/1ind_per_lineage
selection_analysis/1ind_per_lineage/*
!selection_analysis/1ind_per_lineage/codeml-M0.ctl
!selection_analysis/1ind_per_lineage/codeml-B2.ctl
!selection_analysis/1ind_per_lineage/20_rattini_no_gaps_no_stops.paml
!selection_analysis/1ind_per_lineage/tree_marked_paml.txt
!selection_analysis/1ind_per_lineage/tree_paml.txt
!selection_analysis/1ind_per_lineage/output
selection_analysis/1ind_per_lineage/output/BS*

#####phylogenetic-analysis#######
!phylogenetic_analysis
phylogenetic_analysis/*
!phylogenetic_analysis/Beast
phylogenetic_analysis/Beast/*
!phylogenetic_analysis/Beast/27_rattus_consensus.tre
!phylogenetic_analysis/Beast/27_mito_Rattus.xml
!phylogenetic_analysis/Beast/PartitionFinder
phylogenetic_analysis/Beast/PartitionFinder/*
!phylogenetic_analysis/Beast/PartitionFinder/27_mito_Rattus.phy
!phylogenetic_analysis/Beast/PartitionFinder/partition_finder.cfg
!phylogenetic_analysis/Beast/PartitionFinder/analysis
phylogenetic_analysis/Beast/PartitionFinder/analysis/*
!phylogenetic_analysis/Beast/PartitionFinder/analysis/best_scheme.txt
!phylogenetic_analysis/Beast/run1_cipress
!phylogenetic_analysis/Beast/run2_cipress




!README.md
*DS_store
